:root {
    --space-xl: 24px;
    --space-l: 20px;
    --space-m: 16px;
    --space-s: 14px;
    --space-xs: 12px;
    --space-xxs: 8px;
    --color-brand: #518581;
    --color-brandHover: #86AAA7;
    --color-brandActive: #487773;
	--text-color-primary: #000000;
	--text-color-secondary: #AFADB5;
	--text-color-accent: #518581;
}
