@import url(../../styles/variables.css);

.check__input {
	position: absolute;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.check__box {
	stroke: var(--color-brand);
	position: absolute;
	background-color: var(--checkbox-bg);
	width: 40px;
	height: 40px;
}

.check__box:hover:not(.disabled) {
	outline: 1px solid var(--checkbox-border-hover);
	outline-offset: -1px;
}

.disabled {
	outline: 1px solid var(--checkbox-border-disabled);
	background-color: var(--checkbox-bg-disabled) !important;
	stroke: var(--checkbox-check-disabled);
}

